<div class="login">
<div class="container" style="max-width: 400px; margin: auto">

  <form autocomplete="off" #f="ngForm">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">

      </div>

      <div class="ui-g-12 texto-login">
          <img src="../../../assets/images/login13.png" class="imagem-login" />
          <span class="texto"><h2>Gestop</h2></span>
      </div>

      <div class="ui-g-12 ui-md-12">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input pInputText type="email" name="usuario" placeholder="E-mail" ngModel required #usuario>
            </div>
      </div>

      <div class="ui-g-12 ui-md-12">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-expeditedssl"></i></span>
              <input pInputText type="password" name="senha" placeholder="Senha" ngModel required #senha>
            </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Login" [disabled]="!f.valid" class="btn-login"
          (click)="login(usuario.value, senha.value); senha.value=''; "></button>
      </div>

    </div>
  </form>

</div>

</div>
