/* Login */
.login {
  height: auto;
  width: 100%;
  position: fixed;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #999999;
  background: -moz-radial-gradient(center, ellipse cover, #999999 0%, #222222 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #999999 0%, #222222 100%);
  background: radial-gradient(ellipse at center,#999999 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@cor-r', endColorstr='@cor-q', GradientType=1);
}

.login .btn-login {
  -webkit-box-shadow: 7px 7px 0px 0px #222222;
  -moz-box-shadow: 7px 7px 0px 0px #222222;
  box-shadow: 7px 7px 0px 0px #222222;
  background-color: #07b3e7 !important;
  border-color: #07b3e7 !important;
  font-weight: bold;
}
.login .btn-login:active {
  color: #fff;
  background-color: #222222 !important;
  border-color: #999999 !important;
  box-shadow: 0 0 0 0.2rem #222222;
}
.login .btn-login:hover {
  color: #fff !important;
  font-weight: bold;
  background-color: #1779e9 !important;
  border-color: #1779e9 !important;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.fa-address-card-o {
  margin-top: 60px;
  text-align: center;
  color: #ffffff;
}

.texto-login {
  font-family: Helvetica, sans-serif;
  margin-top: 90px;
  text-align: center;
  color: #ffffff;
}

.texto{
  text-align: center;
}

.imagem-login {
  margin-left: auto;
  margin-right: auto;
  min-height: 140px;
  max-width: 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

input {
  text-transform: none !important;
}

