.col-codigo {
    width: 90px;
    text-align: center;
}

.col-acao {
    width: 50px;
    text-align: center;
}

.col-email {
    width: 100%;
}
.col-valor-header {
  width: 120px;
}

.col-valor {
  text-align: right;
}

.col-quantidade {
  text-align: center;
  width: 120px;
}

.col-data {
  text-align: center;
  }

.ui-accordion .ui-accordion-header a {
  height: 70px !important;
}

