<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <div class="ui-g-7">
      <app-menu-list [rotaNovo]="rotaNovo" [rotaPadrao]="rotaPadrao" (excluir)="excluir($event)"
        [permissaoNovo]="segurancaService.temPermissao('PEDIDO_CADASTRAR')"
        [permissaoExcluir]="segurancaService.temPermissao('PEDIDO_EXCLUIR')">
      </app-menu-list>
    </div>

    <div class="ui-g-5">
      <p-dropdown class="item-por-pagina" [options]="quantidadeItemPorPagina" [(ngModel)]="quantidadeItemPorPaginaSelecionada" optionLabel="value" (click)="pesquisar()"></p-dropdown>
      <span class="total-registros-msg item-por-pagina-msg">Itens por página:</span>
    </div>

    <div class="ui-g-12 separador-form"></div>

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <p-fieldset legend="Filtro">
          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Código</label>
            <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
            <input pInputText type="number" min=1 onkeypress="return event.charCode >= 48" name="codigo" [(ngModel)]="filtro.codigo">
          </div>
          </div>

          <div class="ui-g-12 ui-md-7 ui-fluid">
              <label>Cliente</label>
              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
              <input pInputText type="text" name="cliente" [(ngModel)]="filtro.cliente.nome" maxlength="30">
            </div>
            </div>

          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Data</label>
            <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
            <input pInputText type="text" name="dataPedido" [(ngModel)]="filtro.dataPedido" maxlength="30">
          </div>
          </div>

          <div class="ui-g-12 ui-md-1 ui-fluid">
              <label style="padding: 10px;"></label>
              <div class="ui-inputgroup">
              <button pButton type="submit" icon="fa fa-search" class="ui-button-primary botao-pesquisa"></button>
            </div>
            </div>


        </p-fieldset>
      </div>

    </form>

  <div class="ui-g-12">
    <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
    [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
          <ng-template pTemplate="body" let-entidade>

              <p-fieldset legend="Pedido {{entidade.codigo}}">
                <div >
                <tr>
                  <th>Nome:</th>
                  <td>{{entidade.cliente.nome}}</td>

                  <td style="padding: 20px;"></td>

                  <th>CPF/CNPJ:</th>
                  <td>{{entidade.cliente.cpfCnpj}}</td>
              </tr>

               <tr>
                  <th>Data:</th>
                  <td>{{entidade.dataPedido | date:'dd/MM/yyyy'}}</td>

                  <td style="padding: 20px"></td>

                 <th>Valor:</th>
                 <td>{{entidade.valorPedido}} R$</td>

                 <td style="padding: 20px"></td>

                 <th>Tipo:</th>
                 <td>{{entidade.tipo}}</td>

                 <td style="padding: 20px"></td>

                  <td >
                      <button pButton icon="fa fa-edit" (click)="itemSelecionado(entidade.codigo)"></button>
                  </td>
              </tr>
            </div>
                  <p-accordion>
                  <p-accordionTab header="Detalhamento">

                      <p-table [value]="entidade.pedidosItem" [responsive]="true" [lazy]="true">
                          <ng-template pTemplate="header">
                              <tr>
                                <th class="col-codigo-proprio">Produto</th>
                                <th class="col-valor-header">Valor unitário</th>
                                <th class="col-quantidade">Quantidade</th>
                                <th class="col-valor-header">Valor cálculado</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-pedidoItem>
                              <tr>
                                <td>{{pedidoItem.produto.descricao}}</td>
                                <td class="col-valor">{{pedidoItem.produto.valorVenda | number:'1.2-2'}}</td>
                                <td class="col-quantidade">{{pedidoItem.qtdProduto}}</td>
                                <td class="col-valor">{{pedidoItem.valorProduto | number:'1.2-2'}}</td>
                              </tr>
                            </ng-template>
                        </p-table>
                  </p-accordionTab>

              </p-accordion>
              </p-fieldset>
      </ng-template>

    </p-table>
    <div style="padding: 30px;"></div>

  </div>

</div>

