<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f" (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">
            <p-fieldset legend="Dados">
                <div class="ui-g-2 ui-md-2 ui-fluid">
                  <label [ngClass]="codigoProprio? 'sucessoLabel':'erroLabel'">Código</label>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                    <input pInputText type="text" name="codigoProprio" [(ngModel)]="entidade.codigoProprio"
                    required minlength="3" maxlength="30" [disabled]="consulta" placeholder="Campo obrigatório"
                    [ngClass]="codigoProprio? 'sucessoInput':'erroInput'">
                  </div>
                </div>

                <div class="ui-g-6 ui-md-6 ui-fluid">
                    <label [ngClass]="descricao? 'sucessoLabel':'erroLabel'">Descrição</label>
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                      <input pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao"
                      required minlength="3" maxlength="30" [disabled]="consulta" placeholder="Campo obrigatório"
                      [ngClass]="descricao? 'sucessoInput':'erroInput'">
                  </div>
                </div>

                <div class="ui-g-4 ui-md-4 ui-fluid">
                  <label [ngClass]="categoria? 'sucessoLabel':'erroLabel'">Categoria</label>
                  <div class="ui-inputgroup">
                    <input pInputText type="text" name="categoria" [(ngModel)]="entidade.categoria.descricao"
                    required minlength="3" maxlength="30" [disabled]="true" placeholder="Campo obrigatório"
                    [ngClass]="categoria? 'sucessoInput':'erroInput'">
                    <buscar-categoria (seleciona)="selecionarCategoria($event)"></buscar-categoria>
                  </div>
                </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                      <label [ngClass]="valorCusto? 'sucessoLabel':'erroLabel'">Valor custo</label>
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">$</span>
                        <input pInputText type="text" name="valorCusto" [(ngModel)]="entidade.valorCusto"
                        required minlength="3" maxlength="30" [disabled]="consulta" currencyMask
                        [ngClass]="valorCusto? 'sucessoInput':'erroInput'">
                    </div>
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                      <label [ngClass]="valorVenda? 'sucessoLabel':'erroLabel'">Valor venda</label>
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">$</span>
                        <input pInputText type="text" name="valorVenda" [(ngModel)]="entidade.valorVenda"
                        required minlength="3" maxlength="30" [disabled]="consulta" currencyMask
                        [ngClass]="valorVenda? 'sucessoInput':'erroInput'">
                    </div>
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                      <label [ngClass]="valorDesconto? 'sucessoLabel':'erroLabel'">Desconto</label>
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon">$</span>
                          <input pInputText type="text" name="valorDesconto" [(ngModel)]="entidade.valorDesconto"
                        required minlength="3" maxlength="30" [disabled]="consulta" currencyMask
                        [ngClass]="valorDesconto? 'sucessoInput':'erroInput'">
                    </div>
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                      <label [ngClass]="valorMargem? 'sucessoLabel':'erroLabel'">Margem</label>
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon">$</span>
                          <input pInputText type="text" name="valorMargem" [(ngModel)]="entidade.valorMargem"
                        required minlength="3" maxlength="30" [disabled]="consulta" currencyMask
                        [ngClass]="valorMargem? 'sucessoInput':'erroInput'">
                    </div>
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                      <label [ngClass]="embalagem? 'sucessoLabel':'erroLabel'">Embalagem</label>
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                        <input pInputText type="text" name="embalagem" [(ngModel)]="entidade.embalagem"
                        required minlength="3" maxlength="30" [disabled]="consulta"
                        [ngClass]="embalagem? 'sucessoInput':'erroInput'">
                    </div>
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                      <label [ngClass]="percentual? 'sucessoLabel':'erroLabel'">Percentual por demanda</label>
                      <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">%</span>
                        <input pInputText type="text" name="percentual" [(ngModel)]="entidade.percentual"
                        required minlength="3" maxlength="30" [disabled]="consulta"
                        [ngClass]="percentual? 'sucessoInput':'erroInput'">
                    </div>
                  </div>

                  <div class="ui-g-6 ui-md-6 ui-fluid">
                    <label [ngClass]="fornecedor? 'sucessoLabel':'erroLabel'">Fornecedor</label>
                    <div class="ui-inputgroup">
                      <input pInputText type="text" name="fornecedor" [(ngModel)]="entidade.fornecedor.nomeFantasia"
                       minlength="3" maxlength="30" [disabled]="true"
                      [ngClass]="fornecedor? 'sucessoInput':'erroInput'">
                      <buscar-fornecedor (seleciona)="selecionarFornecedor($event)"></buscar-fornecedor>
                    </div>
                  </div>

                  <div class="ui-g-12 ui-md-12 ui-fluid">
                      <label [ngClass]="observacao? 'sucessoLabel':'erroLabel'">Observação</label>
                        <textarea pInputTextarea type="text" name="observacao" [(ngModel)]="entidade.observacao"
                        required minlength="3" maxlength="30" [disabled]="consulta"
                        [ngClass]="observacao? 'sucessoInput':'erroInput'"></textarea>
                  </div>

              <p-tabView class="ui-g-12">

                <p-tabPanel header="Estoque">
                       <div class="ui-g ui-fluid">

                        <div class="ui-g-3 ui-md-3">
                            <label [ngClass]="qtdAtual? 'sucessoLabel':'erroLabel'">Quantidade atual</label>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                                <input pInputText type="text" name="qtdAtual" [(ngModel)]="entidade.qtdAtual"
                                required minlength="3" maxlength="30" [disabled]="consulta" placeholder="Campo obrigatório"
                                [ngClass]="qtdAtual? 'sucessoInput':'erroInput'">
                            </div>
                        </div>

                        <div class="ui-g-3 ui-md-3 ui-fluid">
                          <label [ngClass]="qtdMinima? 'sucessoLabel':'erroLabel'">Quantidade mínima</label>
                          <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                            <input pInputText type="text" name="qtdMinima" [(ngModel)]="entidade.qtdMinima"
                            required minlength="3" maxlength="30" [disabled]="consulta"
                            [ngClass]="qtdMinima? 'sucessoInput':'erroInput'">
                        </div>
                      </div>

                    </div>
          </p-tabPanel>

          <p-tabPanel header="Movimentação">
             Em desenvolvimento
          </p-tabPanel>
      </p-tabView>

    </p-fieldset>
  </div>
      </div>

    </form>
</div>
