<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <div class="ui-g-7">

    </div>

    <div class="ui-g-5">
      <p-dropdown class="item-por-pagina" [options]="quantidadeItemPorPagina" [(ngModel)]="quantidadeItemPorPaginaSelecionada" optionLabel="value" (click)="pesquisar()"></p-dropdown>
      <span class="total-registros-msg item-por-pagina-msg">Itens por página:</span>
    </div>

    <div class="ui-g-12 separador-form"></div>

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <p-fieldset legend="Filtro">
          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Código</label>
            <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
            <input pInputText type="number" min=1 onkeypress="return event.charCode >= 48" name="codigo" [(ngModel)]="filtro.codigo">
          </div>
          </div>

          <div class="ui-g-12 ui-md-7 ui-fluid">
              <label>Cliente</label>
              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
              <input pInputText type="text" name="cliente" [(ngModel)]="filtro.cliente.nome" maxlength="30">
            </div>
            </div>

          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Data</label>
            <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
            <input pInputText type="text" name="dataPedido" [(ngModel)]="filtro.dataPedido" maxlength="30">
          </div>
          </div>

          <div class="ui-g-12 ui-md-1 ui-fluid">
              <label style="padding: 10px;"></label>
              <div class="ui-inputgroup">
              <button pButton type="submit" icon="fa fa-search" class="ui-button-primary botao-pesquisa"></button>
            </div>
            </div>


        </p-fieldset>
      </div>

    </form>

  <div class="ui-g-12">
    <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
    [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
          <ng-template pTemplate="body" let-entidade>

              <p-fieldset legend="Pedido {{entidade.codigo}}">
                <div>
                <tr>
                  <th>Nome:</th>
                  <td>{{entidade.cliente.nome}}</td>

                  <td style="padding: 20px;"></td>

                  <th>CPF/CNPJ:</th>
                  <td>{{entidade.cliente.cpfCnpj}}</td>
              </tr>

               <tr>
                  <th>Data Pedido:</th>
                  <td>{{entidade.dataPedido | date:'dd/MM/yyyy'}}</td>

                  <td style="padding: 20px"></td>

                 <th>Valor Pedido:</th>
                 <td>{{entidade.valorPedido | number:'1.2-2'}}</td>

                 <td style="padding: 20px"></td>

                 <th>Valor Entrada:</th>
                 <td>{{entidade.valorEntrada | number:'1.2-2'}}</td>

                 <td style="padding: 20px"></td>

                 <th>Valor Desconto:</th>
                 <td>{{entidade.valorDesconto | number:'1.2-2'}}</td>

                 <td style="padding: 20px"></td>

                 <th>Valor a Pagar:</th>
                 <td>{{entidade.valorPedido - entidade.valorDesconto - entidade.valorEntrada | number:'1.2-2'}}</td>
              </tr>
            </div>
                  <p-accordion>
                  <p-accordionTab header="Detalhamento">

                    <p-table [value]="entidade.pagamentos" [responsive]="true" [lazy]="true">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="col-codigo-proprio">Tipo</th>
                          <th class="col-data">Data Vencimento</th>
                          <th class="col-data">Parcela</th>
                          <th class="col-data">Data Pagamento</th>
                          <th class="col-valor-header">Valor</th>
                          <th class="col-codigo-proprio">Status</th>
                          <th class="col-acao"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pagamento let-rowIndex="rowIndex">
                        <tr>
                          <td>{{pagamento.formaPagamento.descricao}}</td>
                          <td class="col-data">{{pagamento.dataVencimento | date:'dd/MM/yyyy'}}</td>
                          <td class="col-data">{{pagamento.numero}}</td>
                          <td class="col-data">{{pagamento.dataPagamento | date:'dd/MM/yyyy'}}</td>
                          <td class="col-valor">{{pagamento.valorParcela | number:'1.2-2'}}</td>
                          <td class="col-data">{{pagamento.status}}</td>
                          <td *ngIf="pagamento.status === 'PENDENTE'">
                              <button pButton icon="fa fa-sign-in" type="button" class="button" (click)="pagamentoParcela(pagamento, entidade)"></button>
                          </td>
                          <td *ngIf="pagamento.status === 'PAGO'" style="text-align: center"><i class="fa fa-check"></i></td>
                        </tr>
                    </ng-template>
                        </p-table>
                  </p-accordionTab>

              </p-accordion>
              </p-fieldset>
      </ng-template>

    </p-table>
    <div style="padding: 30px;"></div>

  </div>

</div>

