<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f" (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">
            <p-fieldset legend="Dados">
              <div class="ui-g-6 ui-md-6 ui-fluid">
                <label [ngClass]="login? 'sucessoLabel':'erroLabel'">Login</label>
                <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                <input pInputText type="text" name="login" [(ngModel)]="entidade.login"
                #descricao="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                [ngClass]="login? 'sucessoInput':'erroInput'">
                </div>
              </div>

              <div class="ui-g-6 ui-md-6 ui-fluid">
                <label [ngClass]="senha? 'sucessoLabel':'erroLabel'">Senha</label>
                <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                <input pInputText type="text" name="senha" [(ngModel)]="entidade.senha"
                #descricao="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                [ngClass]="senha? 'sucessoInput':'erroInput'">
                </div>
              </div>

              <div class="ui-g-6 ui-md-6 ui-fluid">
                <label [ngClass]="email? 'sucessoLabel':'erroLabel'">Email</label>
                <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                <input pInputText type="text" name="email" [(ngModel)]="entidade.email"
                #descricao="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                [ngClass]="email? 'sucessoInput':'erroInput'">
                </div>
              </div>

              <!-- <div class="ui-g-6 ui-md-6 ui-fluid">
                <label [ngClass]="perfil? 'sucessoLabel':'erroLabel'">Perfil</label>
                <div class="ui-inputgroup">
                  <input pInputText type="text" name="perfil" [(ngModel)]="entidade.perfil.descricao"
                  minlength="3" maxlength="30" [disabled]="true"
                  [ngClass]="perfil? 'sucessoInput':'erroInput'">
                  <buscar-perfil (seleciona)="selecionarPerfil($event)"></buscar-perfil>
                </div>
              </div> -->

              <div class="ui-g-12 ui-md-12 ui-fluid">
                  <p-fieldset legend="Permissões">
                    <p-pickList [source]="permissoes" [target]="permissoesSelecionadas" sourceHeader="Selecione"
                    targetHeader="Selecionados" [responsive]="true" filterBy="role"
                    [showSourceControls]="false" [showTargetControls]="false" [disabled]="consulta"
                    dragdrop="true" sourceFilterPlaceholder="Pesquisar" targetFilterPlaceholder="Pesquisar"
                    [sourceStyle]="{'height':'400px'}" [targetStyle]="{'height':'400px'}">
                        <ng-template let-permissao pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div style="font-size:14px">{{permissao.role}}</div>
                            </div>
                        </ng-template>
                    </p-pickList>
                  </p-fieldset>
              </div>
            </p-fieldset>
        </div>

      </div>
      <div style="padding: 30px;"></div>
    </form>
</div>
