<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f" (salvar)="salvar($event)"></app-menu-form>
        </div>

          <p-fieldset legend="Dados">
            <div class="ui-g ui-fluid">
                      <!-- Início cadastro funcionário -->
                        <div class="ui-g-12 ui-md-12">
                            <label [ngClass]="nome? 'sucessoLabel':'erroLabel'">Nome</label>
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                                <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome"
                                required minlength="3" maxlength="30" [disabled]="consulta" placeholder="Campo obrigatório"
                                [ngClass]="nome? 'sucessoInput':'erroInput'">
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6">
                            <label [ngClass]="nome? 'sucessoLabel':'erroLabel'">CPF</label>
                            <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                          <p-inputMask name="cpf" [(ngModel)]="entidade.cpf" mask="999.999.999-99"
                          [disabled]="consulta" [ngClass]="cpf? 'sucessoSelect':'erroSelect'"></p-inputMask>

                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label [ngClass]="cargo? 'sucessoLabel':'erroLabel'">Cargo</label>
                            <p-dropdown [options]="cargos" [filter]="false" placeholder="Selecione"
                            required name="cargo" [(ngModel)]="entidade.cargo.codigo" [disabled]="consulta"
                            [ngClass]="cargo? 'sucessoSelect':'erroSelect'"></p-dropdown>
                          </div>

                        <div class="ui-g-8 ui-md-6">
                          <label [ngClass]="endereco? 'sucessoLabel':'erroLabel'">Logradouro</label>
                          <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                              <input pInputText type="text" name="logradouro" [(ngModel)]="entidade.endereco.logradouro"
                              required minlength="3" maxlength="30" [disabled]="consulta"
                              [ngClass]="endereco? 'sucessoInput':'erroInput'">
                          </div>
                      </div>

                      <div class="ui-g-5 ui-md-4">
                        <label [ngClass]="endereco? 'sucessoLabel':'erroLabel'">Complemento</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                            <input pInputText type="text" name="complemento" [(ngModel)]="entidade.endereco.complemento"
                            required minlength="3" maxlength="30" [disabled]="consulta"
                            [ngClass]="endereco? 'sucessoInput':'erroInput'">
                        </div>
                    </div>

                      <div class="ui-g-4 ui-md-2">
                        <label [ngClass]="endereco? 'sucessoLabel':'erroLabel'">Número</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                            <input pInputText type="text" name="numero" [(ngModel)]="entidade.endereco.numero"
                            required minlength="3" maxlength="30" [disabled]="consulta"
                            [ngClass]="endereco? 'sucessoInput':'erroInput'">
                        </div>
                    </div>

                  <div class="ui-g-12 ui-md-4">
                    <label [ngClass]="endereco? 'sucessoLabel':'erroLabel'">Bairro</label>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                        <input pInputText type="text" name="bairro" [(ngModel)]="entidade.endereco.bairro"
                        required minlength="3" maxlength="30" [disabled]="consulta"
                        [ngClass]="endereco? 'sucessoInput':'erroInput'">
                    </div>
                </div>

                <div class="ui-g-12 ui-md-3">
                  <label [ngClass]="endereco? 'sucessoLabel':'erroLabel'">Cep</label>
                  <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                      <input pInputText type="text" name="cep" [(ngModel)]="entidade.endereco.cep"
                      required minlength="3" maxlength="30" [disabled]="consulta"
                      [ngClass]="endereco? 'sucessoInput':'erroInput'">
                  </div>
                </div>

                <div class="ui-g-12 ui-md-3">
                  <label [ngClass]="endereco? 'sucessoLabel':'erroLabel'">Cidade</label>
                  <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                      <input pInputText type="text" name="bairro" [(ngModel)]="entidade.endereco.cidade"
                      required minlength="3" maxlength="30" [disabled]="consulta"
                      [ngClass]="endereco? 'sucessoInput':'erroInput'">
                  </div>
              </div>

                <div class="ui-g-12 ui-md-2 ui-fluid">
                  <label [ngClass]="endereco? 'sucessoLabel':'erroLabel'">UF</label>
                  <p-dropdown [options]="estados.sigla" [filter]="false" placeholder="Selecione"
                  required name="endereco" [(ngModel)]="entidade.endereco.estado" [disabled]="consulta"
                  [ngClass]="endereco? 'sucessoSelect':'erroSelect'"></p-dropdown>
                </div>
                  <!-- Final cadastro funcionário -->

                  <!-- Início Contatos-->

                  <div class="ui-g-12">
                      <p-fieldset legend="Contatos">

                        <button pButton icon="fa fa-plus" class="botao-adicionar ui-button-success" (click)="showDialogContato()"></button>

                        <p-table [value]="contatosSelecionados" [responsive]="true">
                          <ng-template pTemplate="header">
                            <tr>
                              <th class="col-email">Email</th>
                              <th class="col-telefone">Telefone</th>
                              <th class="col-acao"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                            <tr>
                              <td>{{contato.email}}</td>
                              <td>{{contato.telefone}}</td>
                              <td class="col-acao">
                                <button pButton icon="fa fa-pencil" class="botao-tab ui-button-primary" (click)="editarContato(contato, rowIndex)"></button>
                                <button pButton icon="fa fa-trash" class="botao-tab ui-button-danger" (click)="removerContato(rowIndex)"></button>
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="6">
                                Nenhum registro encontrado
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </p-fieldset>
                    </div>

                    <p-dialog header="{{editandoContato? 'Editando contato':'Novo contato' }}" [(visible)]="visibleDialogContato" modal="modal" [style]="{width: '800px'}" [responsive]="true">

                        <div class="ui-g-12 ui-md-12 ui-fluid">
                            <div class="ui-g-8 ui-md-8 ui-fluid">
                              <label [ngClass]="email? 'sucessoLabel':'erroLabel'">E-mail</label>
                              <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon">@</span>
                              <input pInputText type="text" name="email" [(ngModel)]="contato.email"
                              maxlength="30" [disabled]="consulta"
                              [ngClass]="email? 'sucessoInput':'erroInput'">
                            </div>
                            </div>

                            <div class="ui-g-4 ui-md-4 ui-fluid">
                              <label [ngClass]="telefone? 'sucessoLabel':'erroLabel'">Telefone</label>
                              <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
                              <p-inputMask name="telefone" [(ngModel)]="contato.telefone" mask="(99) 9 9999-9999"
                              [disabled]="consulta" [ngClass]="telefone? 'sucessoSelect':'erroSelect'"></p-inputMask>
                            </div>
                            </div>
                        </div>

                        <p-footer>
                            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                <button type="button" pButton icon="pi pi-times" (click)="cancelarModal()" label="Cancelar" class="ui-button-danger" ></button>
                                <button type="button" pButton icon="pi pi-check" (click)="salvarContato(contato)" label="Confirmar"></button>
                            </div>
                        </p-footer>
                    </p-dialog>

                        <!-- Final Contatos-->

                    </div>
          </p-fieldset>

      </div>

    </form>
</div>
