.col-codigo {
    width: 90px;
    text-align: center;
}

.col-codigo-produto {
  width: 150px;
  text-align: center;
}

.col-acao {
    width: 50px;
    text-align: center;
}

.col-data {
  text-align: center;
  }


.col-nome {
    width: 100%;
}

.col-valor-header {
  width: 120px;
}

.col-valor {
  text-align: right;
}
