/*
    Cabeçalho
*/
.navbar {
    background: #023672;

    padding: 11px 0;
    position: fixed;
    z-index: 9995;
    width: 100%;
    margin-top: -10px;
    margin-left: -8px;
    height: 60px;
  }

.navbar-botao-menu {
    color: #fff;
    margin-left: 240px;
    font-size:70%;
}

.navbar-botao-menu-colapse {
    color: #fff;
    margin-left: 10px;
    font-size:70%;
}

.navbar-botao-documentacao {
    color: #fff;
    text-decoration: none;
    text-align: right;
    margin-right: 20px;
    float: right;
    margin-top: -4px;
}

.navbar-versao {
    color: #fff;
    text-decoration: none;
    text-align: right;
    margin-right: 30px;
    float: right;
    margin-top: 17px;
    font-size: 14px;
}

.navbar-logo-cliente {
    margin-right: -5px;
    float: right;
    margin-top:-15px;
    margin-bottom: -15px;
    background: #fff;
}

/*
    Menu lateral
*/
.navbar-menu {
    background: #222d32;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 230px;
    margin: 0;
    z-index: 9996;
    padding: 0;
    overflow-y: auto;
}

.imagem-usuario {
    width: 95%;
    height: 40px;
    margin-left: 5px;
    margin-top: 7px;
    margin-bottom: 17px;
    position: center;
}

.texto-fundo{
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  float: left;
  font-size: 25px;
 }

 .imagem-logo {
  margin-left: 20px;
  margin-top: 30px;
  float: left;
  height: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

 .imagem-fundo {
     margin-top: -24px;
     background: #023672;
     height: 81px;
     font-weight: bold;
     color: #ffffff;
     text-align: center;
 }

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    display: none;
}

::-webkit-scrollbar-track-piece  {
    background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #666;
}

.navbar-menuitem {
    padding: 0px;
    list-style: none;
}

.navbar-menuitem a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 15px;
    border-radius: 3px;
}

.navbar-menuitem a:hover {
    background-color: #fff;
    display: block;
    opacity: 0.4;
    color: #000000;
    font-weight: bold;
}

.navbar-menuitem-ativo {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 10px;
    padding: 0px;
    border-radius: 3px;
    border-left: 4px solid #00a65a;
}

.navbar-menuitem-ativo a {
    color: #3c4858;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-menu-ativo {
    background-color: #fff;
    display: block;
    font-weight: bold;
    color: #3c4858 !important;
}

/* usuario logado */
.label-menu-painel {
  background: #1a2226;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 15px;
  height: 70px;
}

.label-menu-image_home {
  min-height: auto;
  max-width: 45px;
  margin-left: -10px;
}

.label-menu-nome-usuario {
  color: #fff;
  margin-left: 20px;
  margin-bottom: 30px;
}

.label-menu-nome {
  float: right;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  padding: 10px;
  margin-right: 80px;
}

/* Menu lateral */
.label-menu {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 15px;
    border-radius: 3px;
}

.label-menu:hover {
    background-color: #fff;
    display: block;
    opacity: 0.4;
    color: #000000;
    font-weight: bold;
}

.navbar-grupo-menu ul{
    margin-bottom: -5px;
    max-height: 0;
    overflow: hidden;
    transition:  all .2s linear;
}

.navbar-grupo-menu input:checked ~ ul {
    height: auto;
    max-height: 1000px;
    transform: all;
}

.navbar-grupo-menu input {
    display: none;
}

/*
    Nome do sistema
*/
.navbar-nome-sistema {
    background:  #fff;
    padding-top: 5px;
    padding-bottom: 0;
    margin-left: -20px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}


/*
    Corpo do aplicativo
*/
.conteudo {
    padding-left: 230px;
    padding-top: 50px;
}

.conteudo-colapse {
    margin-left: 0px;
    padding-top: 50px;
}

i {
    margin-right: 10px;
    font-size: 22px;
}


/*
    Rodapé do aplicativo
*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-size: 0.9em;
    background: #fff;
    padding: 10px;
    border-top: 1px solid #d2d6de;
    margin-left: 120px;
}

.footer-colapse {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-size: 0.9em;
    background: #fff;
    padding: 10px;
    border-top: 1px solid #d2d6de;
}

