<!--Cabeçalho -->
<nav class="navbar" *ngIf="exibirMenu()">
  <div class="navbar-cabecalho">
    <div class="ui-g">
      <div class="ui-g-12 ui-m-12">
        <a href="javascript:;" [ngClass]="(exibindoMenu)?'navbar-botao-menu':'navbar-botao-menu-colapse'" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
        <a href="javascript:;" class="navbar-botao-documentacao" (click)="logout()"><i class="fa fa-sign-out"></i>Sair</a>
        <a href="javascript:;" class="navbar-botao-documentacao" routerLink="/gestop/principal"><i class="fa fa-undo"></i>Voltar ao Painel</a>
      </div>
    </div>
  </div>
</nav>

<!--Menu lateral -->
<div *ngIf="exibirMenu()">
  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <div class="imagem-fundo">
        <img src="../../../assets/images/login13.png" class="imagem-logo" />
      <span class="texto-fundo">
        Gestop</span>
  </div>

    <!-- Painel-->
      <div class="label-menu-painel" *ngIf="segurancaService.temPermissao('PAINEL_MENU')">
          <div class="label-menu-nome-usuario">
              <img src="../../../assets/images/user3.png" class="label-menu-image_home" />
              <span class="label-menu-nome">{{ segurancaService.jwtPayload?.nome }}</span>
          </div>
        </div>

     <!-- Adminitrador-->
     <div class="navbar-grupo-menu" *ngIf="segurancaService.temPermissao('ADMINISTRADOR_MENU')">
      <input type="checkbox" id="administrador"/>
      <label class="label-menu" for="administrador"><i class="fa fa-credit-card" aria-hidden="true"></i>Administrador</label>
      <ul>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('CATEGORIA_CONSULTAR')"><a routerLink="/gestop/categoria/listar">Categoria</a></li>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('CLIENTE_CONSULTAR')"><a routerLink="/gestop/cliente/listar">Cliente</a></li>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('FORNECEDOR_CONSULTAR')"><a routerLink="/gestop/fornecedor/listar">Fornecedor</a></li>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('PRODUTO_CONSULTAR')"><a routerLink="/gestop/produto/listar">Produto</a></li>
      </ul>
    </div>

    <!-- Financeiro-->
    <div class="navbar-grupo-menu" *ngIf="segurancaService.temPermissao('FINANCEIRO_MENU')">
        <input type="checkbox" id="financeiro"/>
        <label class="label-menu" for="financeiro"><i class="fa fa-money" aria-hidden="true"></i>Financeiro</label>
        <ul>
          <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('FORMA_PAGAMENTO_CONSULTAR')"><a routerLink="/gestop/forma-pagamento/listar">Forma de Pagamento</a></li>
          <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('PAGAMENTO_CONSULTAR')"><a routerLink="/gestop/pagamento/listar">Pagamento</a></li>
          <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('PEDIDO_CONSULTAR')"><a routerLink="/gestop/pedido/listar">Pedido</a></li>
        </ul>
      </div>

    <!-- Cadastro-->
    <div class="navbar-grupo-menu" *ngIf="segurancaService.temPermissao('CADASTRO_MENU')">
      <input type="checkbox" id="cadastro"/>
      <label class="label-menu" for="cadastro"><i class="fa fa-id-card-o" aria-hidden="true"></i>Cadastro</label>
      <ul>
        <!-- <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('PAIS_CONSULTAR')"><a routerLink="/gestop/pais/listar">País</a></li>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('ESTADO_CONSULTAR')"><a routerLink="/gestop/estado/listar">Estado</a></li>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('CIDADE_CONSULTAR')"><a routerLink="/gestop/cidade/listar">Cidade</a></li> -->
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('CARGO_CONSULTAR')"><a routerLink="/gestop/cargo/listar">Cargo</a></li>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('FUNCIONARIO_CONSULTAR')"><a routerLink="/gestop/funcionario/listar">Funcionário</a></li>
      </ul>
    </div>

    <!-- Relatórios-->
    <div class="navbar-grupo-menu" *ngIf="segurancaService.temPermissao('RELATORIO_MENU')">
        <input type="checkbox" id="relatorio"/>
        <label class="label-menu" for="relatorio"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Relatório</label>
        <ul>
            <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('PAGAMENTO_CONSULTAR')"><a routerLink="/gestop/relatorio/contasPagar">Contas a pagar</a></li>
            <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('RELATORIO_CONTAS_RECEBER')"><a routerLink="/gestop/relatorio/contasReceber">Contas a receber</a></li>
            <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('RELATORIO_PRODUTO_ESTOQUE')"><a routerLink="/gestop/relatorio/produtoEstoque">Produtos em estoque</a></li>
            <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('RELATORIO_VENDA_PRODUTO')"><a routerLink="/gestop/relatorio/vendaPorProduto">Vendas por produto</a></li>
        </ul>
      </div>

    <!-- Segurança-->
    <div class="navbar-grupo-menu" *ngIf="segurancaService.temPermissao('SEGURANCA_MENU')">
      <input type="checkbox" id="seguranca"/>
      <label class="label-menu" for="seguranca"><i class="fa fa-expeditedssl" aria-hidden="true"></i>Segurança</label>
      <ul>
        <!-- <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('PERFIL_CONSULTAR')"><a routerLink="/gestop/perfil/listar">Perfil</a></li> -->
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('PERMISSAO_CONSULTAR')"><a routerLink="/gestop/permissao/listar">Permissão</a></li>
        <li class="navbar-menuitem" routerLinkActive="navbar-menuitem-ativo" *ngIf="segurancaService.temPermissao('USUARIO_CONSULTAR')"><a routerLink="/gestop/usuario/listar">Usuário</a></li>
      </ul>
    </div>

  </ul>
</div>

<!-- Conteúdo-->
<div [ngClass]="(exibindoMenu)?'conteudo':'conteudo-colapse'">

  <div class="ui-g" [ngClass]="(fundo)?'fundo-login':''">
    <div class="ui-g-12 ui-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>

</div>

<div *ngIf="exibirMenu()" class="footer">
<footer>
  <span>© 2019 - Optimize Solutions - </span>
  <span>Versão 1.0</span>
</footer>
</div>
