<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatório de Contas a pagar</h1>


    <form #f="ngForm" (ngSubmit)="gerar()">
      <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>De</label>
        <p-calendar dateFormat="dd/mm/yy" required
          [inputStyle]="{ 'width': '95px'}"
          [(ngModel)]="periodoInicio" name="periodoInicio"></p-calendar>
</div>

        <div class="ui-g-6 ui-md-6 ui-fluid">
        <label>Até</label>
        <p-calendar dateFormat="dd/mm/yy" required
          [inputStyle]="{ 'width': '95px'}"
          [(ngModel)]="periodoFim" name="periodoFim"></p-calendar>
      </div>

      <div class="ui-g-6 ui-md-6 ui-fluid">
        <button pButton type="submit" label="Gerar"
          [disabled]="f.invalid"></button>
      </div>
    </form>
  </div>
  </div>
</div>


