<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f" (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">
          <p-fieldset legend="Dados">
            <div class="ui-g-6 ui-md-6 ui-fluid">
              <label [ngClass]="descricao? 'sucessoLabel':'erroLabel'">Descrição</label>
              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
              <input pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao"
              #descricao="ngModel" required minlength="3" maxlength="50" [disabled]="consulta"
              [ngClass]="descricao? 'sucessoInput':'erroInput'">
            </div>
            </div>

            <div class="ui-g-6 ui-md-6 ui-fluid">
              <label [ngClass]="role? 'sucessoLabel':'erroLabel'">Role</label>
              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
              <input pInputText type="text" name="role" [(ngModel)]="entidade.role"
              required minlength="3" maxlength="50" [disabled]="consulta"
              [ngClass]="role? 'sucessoInput':'erroInput'">
            </div>
            </div>

          </p-fieldset>
        </div>

      </div>

    </form>
</div>
