<div class="ui-g">
    <div class="ui-g-12 breadcrumb">
      <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
  </div>

  <div class="container">

      <div class="ui-g-7">
        <app-menu-list [rotaNovo]="rotaNovo" [rotaPadrao]="rotaPadrao"
          [codigoEntidade]="codigoEntidade" [consultar]="consultar" (excluir)="excluir($event)"
          [permissaoNovo]="segurancaService.temPermissao('FUNCIONARIO_CADASTRAR')"
          [permissaoEditar]="segurancaService.temPermissao('FUNCIONARIO_ALTERAR')"
          [permissaoConsultar]="segurancaService.temPermissao('FUNCIONARIO_CONSULTAR')"
          [permissaoRelatorio]="segurancaService.temPermissao('FUNCIONARIO_RELATORIO')"
          [permissaoExcluir]="segurancaService.temPermissao('FUNCIONARIO_EXCLUIR')">
        </app-menu-list>
      </div>

      <div class="ui-g-5">
        <p-dropdown class="item-por-pagina" [options]="quantidadeItemPorPagina" [(ngModel)]="quantidadeItemPorPaginaSelecionada" optionLabel="value" (click)="pesquisar()"></p-dropdown>
        <span class="total-registros-msg item-por-pagina-msg">Itens por página:</span>
      </div>

      <div class="ui-g-12 separador-form"></div>

      <form autocomplete="off" (ngSubmit)="pesquisar()">

        <div class="ui-g-12">
          <p-fieldset legend="Filtro" [toggleable]="true" [collapsed]="true">
            <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>Código</label>
              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
              <input pInputText type="number" min=1 onkeypress="return event.charCode >= 48" name="codigo" [(ngModel)]="filtro.codigo">
            </div>
            </div>

            <div class="ui-g-12 ui-md-8 ui-fluid">
              <label>Nome</label>
              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
              <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" maxlength="30">
              </div>
            </div>

            <div class="ui-g-12 ui-md-2 ui-fluid margem-top-botao">
              <button pButton type="submit" icon="fa fa-search" class="ui-button-primary margem-botao-pesquisar"></button>
              <button pButton type="button" icon="fa fa-window-close" class="ui-button-danger margem-botao-pesquisar" (click)="limparFiltro()"></button>
            </div>
          </p-fieldset>
        </div>

      </form>

    <div class="ui-g-12">
      <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
            [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
            <tr>
                <th class="col-codigo">Código</th>
                <th class="col-nome">Nome</th>
                <th class="col-nome">CPF</th>
                <th class="col-acao"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidade>
            <tr (click)="selecionarEntidade(entidade)" [ngClass]="entidade.codigo == codigoEntidade ?'selecionado':null">
                <td>{{entidade.codigo}}</td>
                <td>{{entidade.nome}}</td>
                <td>{{entidade.cpf}}</td>
                <td style="margin:auto;">
                  <p-radioButton name="groupname" value="{{entidade.codigo}}" [(ngModel)]="codigoEntidade" (click)="selecionarEntidade(entidade)"></p-radioButton>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum registro encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-6 total-registros">
      <span class="total-registros-msg">Total de registros encontrados:</span>
      <span class="total-registros-valor">{{totalRegistros}}</span>
    </div>

  </div>
