<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-10">
                <p-radioButton [ngClass]="tipo? 'sucessoLabel':'erroLabel'" name="tipo" value="COMPRA" [(ngModel)]="entidade.tipo" label="COMPRA"></p-radioButton>
                <p-radioButton [ngClass]="tipo? 'sucessoLabel':'erroLabel'" name="tipo" value="LOCACAO" [(ngModel)]="entidade.tipo" label="LOCAÇÃO"></p-radioButton>
                <p-radioButton [ngClass]="tipo? 'sucessoLabel':'erroLabel'" name="tipo" value="VENDA" [(ngModel)]="entidade.tipo" label="VENDA"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-md-2">
              <button pButton type="submit" icon="fa fa-undo" label="Voltar" (click)="cancelar()" style="float: right;"></button>
            </div>
            <p-fieldset legend="Dados">
              <div class="ui-g ui-fluid">

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <label [ngClass]="cliente? 'sucessoLabel':'erroLabel'">Cliente</label>
                  <div class="ui-inputgroup">
                    <input pInputText type="text" name="cliente" [(ngModel)]="entidade.cliente.nome"
                     minlength="3" maxlength="30" [disabled]="true" placeholder="Campo obrigatório"
                    [ngClass]="cliente? 'sucessoInput':'erroInput'">
                    <buscar-cliente (seleciona)="selecionarCliente($event)"></buscar-cliente>
                  </div>
                </div>

                <div class="ui-g-12 ui-md-6 ui-fluid">
                  <label [ngClass]="funcionario? 'sucessoLabel':'erroLabel'">Vendedor</label>
                  <p-dropdown [options]="funcionarios" [filter]="false" placeholder="Selecione"
                  required name="funcionario" [(ngModel)]="entidade.funcionario.codigo" [disabled]="consulta"
                  [ngClass]="funcionario? 'sucessoSelect':'erroSelect'"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label [ngClass]="dataPedido? 'sucessoLabel':'erroLabel'">Data Pedido</label>
                  <p-calendar name="dataPedido" [(ngModel)]="entidade.dataPedido"
                  [disabled]="consulta" [ngClass]="dataPedido? 'sucessoSelect':'erroSelect'"
                  [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true" placeholder="Campo obrigatório"
                  ></p-calendar>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label [ngClass]="valorEntrada? 'sucessoLabel':'erroLabel'">Valor Entrada</label>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">$</span>
                    <input pInputText type="text" name="valorEntrada" [(ngModel)]="entidade.valorEntrada"
                    required minlength="3" maxlength="30" [disabled]="consulta" currencyMask
                    [ngClass]="valorEntrada? 'sucessoInput':'erroInput'" (ngModelChange)="parcelamento()">
                </div>
              </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label [ngClass]="valorDesconto? 'sucessoLabel':'erroLabel'">Valor Desconto</label>
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">$</span>
                    <input pInputText type="text" name="valorDesconto" [(ngModel)]="entidade.valorDesconto"
                    required minlength="3" maxlength="30" [disabled]="consulta" currencyMask
                    [ngClass]="valorDesconto? 'sucessoInput':'erroInput'" (ngModelChange)="parcelamento()">
                </div>
              </div>

                   <!-- Início Produtos-->
                   <div class="ui-g-12  ui-fluid">

                    <p-fieldset legend="Itens Pedido">

                      <div class="botao-adicionar">
                        <buscar-produto (seleciona)="selecionarProduto($event)"></buscar-produto>
                      </div>

                      <p-table [value]="entidade.pedidosItem" [responsive]="true">
                        <ng-template pTemplate="header">
                          <tr>
                            <th class="col-codigo-proprio">Código</th>
                            <th class="col-telefone">Descrição</th>
                            <th class="col-valor-header">Valor Unidade</th>
                            <th class="col-codigo-proprio">Quantidade</th>
                            <th class="col-valor-header">Valor</th>
                            <th class="col-acao-produto"></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-pedidoItem let-rowIndex="rowIndex">
                          <tr>
                            <td>{{pedidoItem.produto.codigoProprio}}</td>
                            <td>{{pedidoItem.produto.descricao}}</td>
                            <td class="col-valor">{{pedidoItem.produto.valorVenda | number:'1.2-2'}}</td>
                            <td class="col-data">{{pedidoItem.qtdProduto}}</td>
                            <td class="col-valor">{{pedidoItem.valorProduto| number:'1.2-2'}}</td>
                            <td class="col-acao-produto">
                              <button pButton icon="fa fa-trash" class="ui-button-danger" (click)="removerProduto(rowIndex)"></button>
                            </td>
                          </tr>
                        </ng-template>
                        <div>
                        </div>
                        <ng-template pTemplate="emptymessage">
                          <tr>
                            <td colspan="6">
                              Nenhum registro encontrado
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                      <div class="valorTotal">
                          <label>Valor Total: </label>
                          <span>{{entidade.valorPedido-entidade.valorDesconto | number:'1.2-2'}}</span>
                        </div>
                    </p-fieldset>

                  </div>
                  <!-- Final Produtos-->

                <!-- Início Locação-->

                  <p-fieldset legend="Locação" class="ui-g-12" *ngIf="entidade.tipo == 'LOCACAO'">
                    <div class="ui-g-12 ui-md-4 ui-fluid">
                      <label [ngClass]="dataInicio? 'sucessoLabel':'erroLabel'">Data Início</label>
                      <p-calendar name="dataInicio" [(ngModel)]="entidade.dataInicio"
                      [disabled]="consulta" [ngClass]="dataInicio? 'sucessoSelect':'erroSelect'"
                      [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                      ></p-calendar>
                  </div>


                  <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label [ngClass]="dataFim? 'sucessoLabel':'erroLabel'">Data Fim</label>
                    <p-calendar name="dataFim" [(ngModel)]="entidade.dataFim"
                    [disabled]="consulta" [ngClass]="dataFim? 'sucessoSelect':'erroSelect'"
                    [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"
                    ></p-calendar>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label [ngClass]="periodo? 'sucessoLabel':'erroLabel'">Período</label>
                  <p-dropdown [options]="periodos" [filter]="false" placeholder="Selecione"
                  required name="periodo" [(ngModel)]="entidade.periodo" [disabled]="consulta"
                  (ngModelChange)="verificarAgendamento(entidade.dataInicio, entidade.dataFim, entidade.periodo)"
                  [ngClass]="periodo? 'sucessoSelect':'erroSelect'"></p-dropdown>
                </div>

                </p-fieldset>
                <!-- Final Locação-->
          </div>

          <!-- Início Pagamento -->
            <div class="ui ui-fluid">
            <p-fieldset legend="Forma Pagamento">

              <div class="ui-g-12 ui-md-4 ui-fluid">
                <label [ngClass]="pagamento? 'sucessoLabel':'erroLabel'">Forma pagamento</label>
                <p-dropdown [options]="formasPagamento" [filter]="false" placeholder="Selecione"
                required name="pagamento" [(ngModel)]="pagamentoSelecionado.formaPagamento.descricao" [disabled]="consulta"
                [ngClass]="pagamento? 'sucessoSelect':'erroSelect'"></p-dropdown>
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label [ngClass]="pagamento? 'sucessoLabel':'erroLabel'">Parcela</label>
                  <p-dropdown [options]="parcelas" [filter]="false" placeholder="Selecione"
                  required name="pagamento" [(ngModel)]="pagamentoSelecionado.numero" [disabled]="consulta"
                  [ngClass]="pagamento? 'sucessoSelect':'erroSelect'"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-3 ui-fluid">
                    <label [ngClass]="pagamento? 'sucessoLabel':'erroLabel'">Data Vencimento</label>
                      <p-calendar name="pagamentoSelecionado" [(ngModel)]="pagamentoSelecionado.dataVencimento"
                      [disabled]="consulta" [ngClass]="pagamento? 'sucessoSelect':'erroSelect'"
                      [locale]="locale.es" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                  </div>

                  <div class="ui-g-12 ui-md-1 ui-md-offset-15">
                    <label style="padding: 20px;"></label>
                    <div class="ui-inputgroup">
                    <button pButton type="submit" icon="fa fa-check" (click)="finalizarPagamento()"></button>
                  </div>
                  </div>

                <div *ngIf="pagamentoFinalizado">
                  <div class="ui-g-12">
                  <p-table [value]="entidade.pagamentos" [responsive]="true">
                      <ng-template pTemplate="header">
                        <tr>
                          <th class="col-codigo-proprio">Tipo</th>
                          <th class="col-valor-header">Data Vencimento</th>
                          <th class="col-valor-header">Parcela</th>
                          <th class="col-valor-header">Valor</th>
                          <th class="col-codigo-proprio">Status</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pagamento let-rowIndex="rowIndex">
                        <tr>
                          <td>{{pagamento.formaPagamento.descricao}}</td>
                          <td class="col-data">{{pagamento.dataVencimento | date:'dd/MM/yyyy'}}</td>
                          <td class="col-data">{{pagamento.numero}}</td>
                          <td class="col-valor">{{pagamento.valorParcela | number:'1.2-2'}}</td>
                          <td class="col-data">{{pagamento.status}}</td>
                        </tr>
                      </ng-template>
                      <div>
                      </div>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="6">
                            Nenhum registro encontrado
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>

                    <div class="ui-g-12 ui-md-12 ui-fluid">
                      <button pButton label="Finalizar Pedido" class="ui-button-success" (click)="finalizarPedido()"></button>
                    </div>
                  </div>
              </p-fieldset>

          </div>
                  </p-fieldset>

        </div>

      </div>

    </form>
</div>
