.botao-adicionar {
  margin-bottom: 10px;
  width: 18%;
}

.botao-tab {
  margin-bottom: 2px;
  margin-right: 5px;
}

.col-acao {
  width: 20%;
  text-align: center;
}

.col-email {
  width: 80%;
  margin: 0 auto;
}

.col-data {
  text-align: center;
  }

.col-telefone {
  width: 80%;
  margin: 0 auto;
}

.descricao-cnpjCpf {
  margin-right: 8px !important;
  margin-left: -9px !important;
}

.valorTotal {
  font-weight: bold;
  float: right;
  margin-right: 5%;
}

.col-codigo-proprio {
  width: 15%;
}

.col-valor-header {
  width: 120px;
}

.col-valor {
  text-align: right;
  width: 120px;
}

.col-acao-produto{
  width: 50px;
  text-align: center;
}
