<button type="button" (click)="showDialogEntidade()" pButton icon="fa fa-plus" label="Adicionar produto" class="botao-adicionar ui-button-success"></button>

<p-dialog header="Listagem de Produtos" [(visible)]="visibleDialogEntidade" modal="modal" [style]="{width: '800px'}" [responsive]="true">

  <div class="ui-g-12 ui-md-2 ui-fluid">
    <label>Código</label>
    <div class="border-left">
      <input pInputText type="text" name="codigoProprio" [(ngModel)]="filtro.codigoProprio" maxlength="30">
    </div>
  </div>

  <div class="ui-g-12 ui-md-10 ui-fluid">
      <label>Descrição</label>
      <div class="border-left">
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao" maxlength="30">
      </div>
    </div>

  <div class="ui-g-12">
    <button pButton type="button" label="Pesquisar" class="botao-filtro margem-botao" (click)="pesquisarEntidade()"></button>
    <button pButton type="button" label="Limpar" class="botao-filtro margem-botao" (click)="limparFiltro()"></button>
  </div>

  <div class="ui-g-12 ui-md-12 ui-fluid">
      <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custom">

    <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="10"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
      <ng-template pTemplate="header">
          <tr>
              <th class="col-codigo-proprio">Código</th>
              <th class="col-descricao">Descrição</th>
              <th class="col-valor-header">Valor</th>
              <th class="col-valor-header">Qtd.</th>
              <th class="col-acao"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entidade>
          <tr>
              <td>{{entidade.codigoProprio}}</td>
              <td>{{entidade.descricao}}</td>
              <td class="col-valor">{{entidade.valorVenda | number:'1.2-2'}}</td>
              <td><input pInputText type="number" [(ngModel)]="entidade.quantidade"></td>
              <td class="col-acao">
                  <p-checkbox name="groupname" value="{{entidade.codigo}}" [(ngModel)]="codigoSelecionado" (click)="selecionarEntidade(entidade)"></p-checkbox>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            Nenhum registro encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-scrollPanel>
  </div>

  <div class="ui-g-6 total-registros">
      <span class="total-registros-msg">Total de registros encontrados:</span>
      <span class="total-registros-valor">{{totalRegistros}}</span>
  </div>

  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="cancelarModal()" label="Cancelar" class="ui-button-danger" ></button>
          <button type="button" pButton icon="pi pi-check" (click)="confirmarModal(entidadeSelecionada)" label="Confirmar"></button>
      </div>
  </p-footer>
</p-dialog>
