.col-codigo {
    width: 90px;
    text-align: center;
}

.col-acao {
    width: 50px;
    text-align: center;
}

.col-descricao {
    width: 100%;
}

.col-codigo-proprio {
  width: 30%;
}

.col-valor-header {
  width: 120px;
}

.col-valor {
  text-align: right;
  width: 120px;
}

.col-acao-produto{
  width: 8%;
  text-align: center;
}
