<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f" (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">
            <p-fieldset legend="Dados">
                <div class="ui-g-6 ui-md-6 ui-fluid">
                  <label [ngClass]="nome? 'sucessoLabel':'erroLabel'">Nome</label>
                  <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                  <input pInputText type="text" name="nome" [(ngModel)]="entidade.nome"
                  required minlength="3" maxlength="30" [disabled]="consulta"
                  [ngClass]="nome? 'sucessoInput':'erroInput'">
                </div>
                </div>

                <div class="ui-g-2 ui-md-2 ui-fluid">
                  <label [ngClass]="sigla? 'sucessoLabel':'erroLabel'">Sigla</label>
                  <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                  <input pInputText type="text" name="sigla" [(ngModel)]="entidade.sigla"
                  required minlength="3" maxlength="30" [disabled]="consulta"
                  [ngClass]="sigla? 'sucessoInput':'erroInput'">
                </div>
                </div>

                <div class="ui-g-4 ui-md-4 ui-fluid">
                  <label [ngClass]="pais? 'sucessoLabel':'erroLabel'">País</label>
                  <div class="ui-inputgroup">
                    <input pInputText type="text" name="pais" [(ngModel)]="entidade.pais.nome"
                    required minlength="3" maxlength="30" [disabled]="true"
                    [ngClass]="pais? 'sucessoInput':'erroInput'">
                    <buscar-pais (seleciona)="selecionarPais($event)"></buscar-pais>
                  </div>
                </div>
            </p-fieldset>
        </div>

      </div>

    </form>
</div>
