<button type="button" (click)="showDialogEntidade()" pButton icon="fa fa-superpowers"></button>

<p-dialog header="Listagem de funcionarios" [(visible)]="visibleDialogEntidade" modal="modal" [style]="{width: '800px'}" [responsive]="true">

  <div class="ui-g-12 ui-md-12 ui-fluid">
    <label>Nome</label>
    <div class="border-left">
      <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome" maxlength="30">
    </div>
  </div>

  <div class="ui-g-12">
    <button pButton type="button" label="Pesquisar" class="botao-filtro margem-botao" (click)="pesquisarEntidade()"></button>
    <button pButton type="button" label="Limpar" class="botao-filtro margem-botao" (click)="limparFiltro()"></button>
  </div>

  <div class="ui-g-12 ui-md-12 ui-fluid">
    <p-table [value]="selecionados" [responsive]="true" [paginator]="true" [rows]="10"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
      <ng-template pTemplate="header">
          <tr>
              <th class="col-codigo">Código</th>
              <th class="col-descricao">Nome Fantasia</th>
              <th class="col-descricao">CNPJ</th>
              <th class="col-acao"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entidade>
          <tr (click)="selecionarEntidade(entidade)" (dblclick)="confirmarModal(entidadeSelecionada)"
          [ngClass]="entidade.codigo == entidadeSelecionada.codigo ?'selecionado':null">
              <td>{{entidade.codigo}}</td>
              <td>{{entidade.nomeFantasia}}</td>
              <td>{{entidade.cnpj}}</td>
              <td>
                  <p-radioButton name="groupname" value="{{entidade.codigo}}" [(ngModel)]="codigoSelecionado" (click)="selecionarEntidade(entidade)"></p-radioButton>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            Nenhum registro encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="ui-g-6 total-registros">
      <span class="total-registros-msg">Total de registros encontrados:</span>
      <span class="total-registros-valor">{{totalRegistros}}</span>
  </div>

  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="pi pi-times" (click)="cancelarModal()" label="Cancelar" class="ui-button-danger" ></button>
          <button type="button" pButton icon="pi pi-check" (click)="confirmarModal(entidadeSelecionada)" label="Confirmar"></button>
      </div>
  </p-footer>
</p-dialog>
