.erroInput {
    border: 1px solid red !important;
}

.sucessoInput {
    color: #222222 !important;
    transition: .2s !important;
}

.erroLabel {
    color: red !important;
}

.sucessoLabel {
    color: #000 !important;
}

.erroSelect {
    border: 1px solid red !important;
    display: block !important;
    border-radius: 3px !important;
}

.sucessoSelect {
    color: #222222;
    transition: .2s;
}

.margem-botao {
    margin-right: 5px !important;
    width: 105px !important;
}

.margem-botao-pesquisar {
  margin-right: 5px !important;
  width: 70px !important;
}

.margem-top-botao {
  margin-top: 19px;
}

.margem-botao-gerar-relatorio {
    margin-top: 30px;
    margin-bottom: 30px;
}

.separador-form {
    border-bottom: 1px solid #999999;
    margin-top: -13px;
    width: 98.7%;
    margin-left: 9px;
}

.total-registros-msg {
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.total-registros-valor {
    margin-left: 5px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.total-registros {
    margin-top: -10px !important;
}

.selecionado {
    background-color: #E7FFDE !important;
}

.item-por-pagina {
    float: right !important;
    padding-left: 5px !important;
}

.item-por-pagina-msg {
    float: right !important;
    margin-top: 7px !important;
}

.loading {
    position: absolute;
	left: 50%;
    top: 50%;
    z-index: 9998;
}

/* espacamento tabela*/
body .ui-table .ui-table-thead > tr > th {
    padding: 5px !important;
}

body .ui-table .ui-table-tbody > tr > td {
    padding: 5px !important;
}

/* cettralizar o radio na tabela*/
body .ui-radiobutton {
  margin-left: 10px !important;
}

html {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: #333333;
}

/* Dashboard principal*/

.icons_home {
  padding-top: 5px;
}
.icons_home .legend {
  margin-top: 8px;
  font-weight: bold;
}
.icons_home .container-icon {
  color: #333333;
  box-shadow: 10px 10px 0px 0rem #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  min-height: 200px;
  max-width: 200px;
  display: block;
  margin-bottom: 20px;
  background: #fff;
  text-align: center;
  min-height: 150px;
  max-width: 150px;
}
.icons_home .container-icon:hover {
  color: #273d19;
  background-color: #afd1c6;
  transition: background-color 0.4s, color 0.4s;
}

.image_home {
  background-size: contain !important;
  min-height: 100px;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.border-left {
  border-top-left-radius: 1;
}

/* Ajuste margem esquerda tab-view entidade */
body .ui-tabview.ui-tabview-top, body .ui-tabview.ui-tabview-bottom, body .ui-tabview.ui-tabview-left, body .ui-tabview.ui-tabview-right {
  margin-left: 5px !important;
}


/* List pedidos */
body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
background: #a4a5a7;
border: 1px solid #a4a5a7;

}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
  background: #a4a5a7;
  border: 1px solid #a4a5a7;
}



