<div class="ui-g">
  <div class="ui-g-12 breadcrumb">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
</div>

<div class="container">

    <form #f="ngForm" autocomplete="off">

      <div class="ui-g">

        <div class="ui-g-12">
          <app-menu-form [rotaListar]="rotaListar" [consulta]="consulta" [entidade]="entidade" [formulario]="f" (salvar)="salvar($event)"></app-menu-form>
        </div>

        <div class="ui-g-12">
            <p-fieldset legend="Dados">
                <div class="ui-g-12 ui-md-12 ui-fluid">
                  <label [ngClass]="descricao? 'sucessoLabel':'erroLabel'">Descrição</label>
                  <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-check"></i></span>
                  <input pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao"
                  #descricao="ngModel" required minlength="3" maxlength="30" [disabled]="consulta"
                  [ngClass]="descricao? 'sucessoInput':'erroInput'">
                </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-fluid">
                    <p-fieldset legend="Permissões">
                      <p-pickList [source]="permissoes" [target]="permissoesSelecionadas" sourceHeader="Selecione"
                      targetHeader="Selecionados" [responsive]="true" filterBy="nome"
                      [showSourceControls]="false" [showTargetControls]="false" [disabled]="consulta"
                      dragdrop="true" sourceFilterPlaceholder="Pesquisar" targetFilterPlaceholder="Pesquisar"
                      [sourceStyle]="{'height':'400px'}" [targetStyle]="{'height':'400px'}">
                          <ng-template let-permissao pTemplate="item">
                              <div class="ui-helper-clearfix">
                                  <div style="font-size:14px">{{permissao.descricao}}</div>
                              </div>
                          </ng-template>
                      </p-pickList>
                    </p-fieldset>
                </div>
            </p-fieldset>
        </div>

      </div>

    </form>
</div>
