.imagem-principal {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 38px;
}

.centralizar {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

h1 {
    margin-top: 10%;
    text-align: center;
}

.data{
  margin-left: 10px;
}

.texto-principal{
  margin-top: -5px
}
