<div class="data">
<h1 class="texto-principal">Gestão de Patrimônio</h1>

<label> De </label>
<p-calendar [(ngModel)]="dataDe" [locale]="locale.es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>

<label> Até </label>
<p-calendar [(ngModel)]="dataAte" [locale]="locale.es" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>


</div>
<p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>

