.botao-adicionar {
  margin-bottom: 10px;
}

.botao-tab {
  margin-bottom: 2px;
  margin-right: 5px;
}

.col-acao {
  width: 40%;
}

.col-email {
  width: 80%;
  margin: 0 auto;
}

.col-telefone {
  width: 80%;
  margin: 0 auto;
}

.descricao-cnpjCpf {
  margin-right: 8px !important;
  margin-left: -9px !important;
}
