<!-- <div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatório de lançamento</h1>
    </div>

    <form #f="ngForm" (ngSubmit)="gerar()">
      <div class="ui-g-12">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" required
          [inputStyle]="{ 'width': '95px'}"
          [(ngModel)]="periodoInicio" name="periodoInicio"></p-calendar>

        <label>até</label>

        <p-calendar dateFormat="dd/mm/yy" required
          [inputStyle]="{ 'width': '95px'}"
          [(ngModel)]="periodoFim" name="periodoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Gerar"
          [disabled]="f.invalid"></button>
      </div>
    </form>
  </div>
</div> -->
